@page "/countries"

<h3>Países</h3>

@if (Countries == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pais</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Countries)
            {
                <tr>
                    <td>@country.Id</td>
                    <td>@country.Name</td>
                </tr>
            }
        </tbody>
    </table>
}